---
---
@charset "utf-8";

// Fonts
$font-family: "Helvetica Neue";
$font-size: 16px;

// Sizing and Spacing
$wrapper-width: 960px;

$padding: 10px;
$margin: 20px;

// Colors
$white: #FFF;
$black: #000;

$background-color: #426E86;
$header-color: #FEF1E5;

$text-color: #666;

$anchor-color: #2F3131;
$anchor-hover-color: darken($anchor-color, 10%);

@import "base";