@import 'bootstrap/bootstrap.less';

body {
    padding-top: 20px;
}

body.container {
    width: 60%;
    max-width: 800px;
}

header {
    font-size: 2em;
    .pull-left;
}

nav {
    padding-top: 7px;
    .pull-right;
    
    ul {
        padding: 0;
        
        li {
            display: inline;
            margin-left: 10px;
            
            a {
                font-size: 1.5em;
            }
        }
    }
}

main {
    clear: both;
}

img.fun {
    max-width: 100%;
}

p.lead {
    margin: 15px auto 0;
    width: 75%;
    .text-center;
}