@font-face {
   font-family: code;
   src: url('../fonts/code.woff'); 
}

html {
    font-size: 100%;
}

body {
    background: url('../images/cota_down_pit_road.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    font-family: Helvetica;
    font-size: 1rem;
    text-align: center;
    color: #000;
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 900px;
    margin: 0 auto;
}

header {
    background: transparent;
    color: #FFF;
    font-family: code;
    font-size: 3rem;
    font-weight: bold;
    margin: 7% 0 20px 0;
}

nav {
    background: #FFF;
    color: #000;
    padding: 20px 0;
    opacity: .3;
}

nav * {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    list-style: none;
}

nav li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

nav li a:hover {
    text-decoration: underline;
}

#imgDesc {
    background: #000;
    color: #FFF;
    font-size: .75rem;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    opacity: .75;
}

@media only screen and (max-width : 320px) {
    header {
        font-size: 2rem;
    }
    
    nav li {
        display: block;
        padding: 20px;
    }
}