{% extends 'layouts/default.twig' %}

{% block pageid %}about{% endblock %}

{% block content %}
<p class="about">I'm Alec, a student at <a href="https://www.wmich.edu" target="_blank">Western Michigan University</a> and an avid web developer. Check out <a href="https://www.github.com/gunnar94" target="_blank">what I am working on</a>, and feel free to <a href="mailto: gunnar94@me.com">email me</a>.</p>
<div class="photoGrid">
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4"><img src="/assets/images/carousel/lo-res/shuttle_atlantis.png" hires="/assets/images/carousel/shuttle_atlantis.png" tohires="true" caption="Space Shuttle Atlantis at the Kennedy Space Center in Cape Canaveral, Florida."></div>
    <div class="col-xs-4 col-sm-4 col-md-4"><img src="/assets/images/carousel/lo-res/audi_rs7_naias_2014.png" hires="/assets/images/carousel/audi_rs7_naias_2014.png" tohires="true" caption="An Audi RS7 being shown at the 2014 North American International Auto Show at COBO Center in Detroit, MI."></div>
    <div class="col-xs-4 col-sm-4 col-md-4"><img src="/assets/images/carousel/lo-res/chill_out_dragster.png" hires="/assets/images/carousel/chill_out_dragster.png" tohires="true" caption="Top Thrill Dragster at Cedar Point in Sandusky, Ohio during the 2014 Winter Chill Out."></div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4"><img src="/assets/images/carousel/lo-res/ql_400_2014.png" hires="/assets/images/carousel/ql_400_2014.png" tohires="true" caption="Celebrations on Victory Lane after a win by Jimmie Johnson at the 2014 Quicken Loans 400 at Michigan International Speedway."></div>
    <div class="col-xs-4 col-sm-4 col-md-4"><img src="/assets/images/carousel/lo-res/cota_fsgp_2014.png" hires="/assets/images/carousel/cota_fsgp_2014.png" tohires="true" caption="The observation tower at Circuit of the Americas in Austin, Texas during the 2014 Formula Sun Grand Prix Powered by Austin Energy."></div>
    <div class="col-xs-4 col-sm-4 col-md-4"><img src="/assets/images/carousel/lo-res/sunseeker_pre_fsgp_2014.png" hires="/assets/images/carousel/sunseeker_pre_fsgp_2014.png" tohires="true" caption="The 2010 Sunseeker solar car during practice runs prior to the 2014 FSGP Powered by Austin Energy."></div>
  </div>
</div>
{% endblock %}
