{% extends 'layouts/default.twig' %}

{% block content %}
<img src="assets/images/carousel/shuttle_atlantis.png" class="fun" />
<p class="lead">I'm Alec, I'm a student at <a href="https://www.wmich.edu" target="_blank">Western Michigan University</a> and an avid web developer. Check out <a href="https://www.github.com/gunnar94" target="_blank">what I am working on</a>, and feel free to <a href="mailto: gunnar94@me.com">email me</a>.</p>
{% endblock %}