<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="wrapper">
      <header class="header">
        <h1 class="header__name"><span class="header__picture"></span>Alec Carpenter</h1>
        <ul class="header__navigation">
          <li class="header__navigation__link"><a href="https://www.github.com/gunnar94">Projects</a></li>
          <li class="header__navigation__link"><a href="mailto:gunnar94@me.com">Contact</a></li>
        </ul>
      </header>

      {{ content }}
    </div>

  </body>

</html>
